#openguibtn {
    border: none;
    padding: 10px 15px;
    color: white;
    background-color: grey;
    border-radius: 3px;
}

.gui-wrapper {
    text-align: center;
    display: none;
    margin: 50px auto;
    border: 1px solid black;
    width: 500px;
    height: 300px;
}

.gui-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#header h3, #header p {
    margin: 0px;
    padding: 0px;
}

#header h3 {
    font-size: 40px;
}

#header p {
    font-size: 20px;
    position: relative; left: 10px; bottom: 10px;
}

#userinfo {
    position: relative; left: 10px;
    border: 1px solid black;
    border-radius: 3px;
    width: 220px;
    height: 140px;
    padding: 10px;
}

input {
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    width: 200px;
}

::placeholder {
    font-size: 17px;
}


#othersocial {
    position: absolute; right: 10px; top: 65px;
   border: 1px solid black;
    width: 200px;
    height: 125px;
    border-radius: 3px;
}

.socialbtn {
    border: none;
    margin: 10px;
    width: 175px;
    padding: 10px 0px;
    
}


#createbtn {
    position: absolute; bottom: 10px; left: 10px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: darkgreen;
    padding: 10px 15px;
}
