@font-face {
    font-family: bauhaus;
    src: url(BauhausStd-Heavy.otf);
 }

 @font-face {
     font-family: quantify;
     src: url(quantify-bold.woff);
 }

 #timeadd {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: 50px auto;
}

#timeadd h4 {
    text-align: center;
    font-family: bauhaus;
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}

#options {
    position: relative;
    width: 95%;
    margin: 10px;
    height: 440px;
    overflow: auto;
}

.option {
    width: 90%;
    margin: 10px;
    height: 75px;
    border: 1px solid black;
    border-radius: 3px;

}

#options p {
    display: inline;
}

.hour {
    line-height: 75px;
    font-family: quantify;
    font-size: 25px;
}

.money {
    font-family: quantify;
    line-height: 35px;
    position: absolute; right: 120px;

}

.add {
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: green;
    border-radius: 3px;
    margin-top: 20px;
    position: absolute; right: 40px
}
